absl-py==2.1.0
jiwer==3.1.0
pandas==2.2.3
lazy_loader==0.4
idna==3.10
pillow==11.1.0
scipy==1.13.1
matplotlib==3.9.4
tokenizers==0.21.0
zipp==3.21.0
julius==0.2.7
msgpack==1.1.0
requests==2.32.3
pydantic==2.10.6
transformers==4.49.0
brainflow==5.16.0
torchaudio==2.6.0
seaborn==0.13.2
GitPython==3.1.44
huggingface-hub==0.29.3
tgt==1.5
joblib==1.4.2
RapidFuzz==3.12.2
primePy==1.3
Unidecode==1.3.8
sentry-sdk==2.22.0
tqdm==4.67.1
urllib3==2.3.0
scikit-learn==1.6.1
protobuf==5.29.3
click==8.1.8
numba==0.60.0
decorator==5.2.1
numpy==2.0.2
cffi==1.17.1
librosa==0.11.0
threadpoolctl==3.5.0
kiwisolver==1.4.7
pip==25.0.1
contourpy==1.3.0
regex==2024.11.6
gitdb==4.0.12
psutil==7.0.0
fonttools==4.56.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
charset-normalizer==3.4.1
packaging==24.2
torch==2.6.0
wandb==0.19.8
certifi==2025.1.31
setproctitle==1.3.5
tzdata==2025.1
torch_pitch_shift==1.2.5
pydantic_core==2.27.2
pycparser==2.22
torch-audiomentations==0.12.0
cycler==0.12.1
Jinja2==3.1.6
soundfile==0.13.1
torchvision==0.21.0
pooch==1.8.2
pyparsing==3.2.1
fsspec==2025.3.0
docker-pycreds==0.4.0
networkx==3.2.1
sympy==1.13.1
typing_extensions==4.12.2
PyYAML==6.0.2
smmap==5.0.2
safetensors==0.5.3
platformdirs==4.3.6
pytz==2025.1
annotated-types==0.7.0
setuptools==58.0.4
filelock==3.17.0
soxr==0.5.0.post1
eval_type_backport==0.2.2
six==1.17.0
importlib_resources==6.5.2
audioread==3.0.1
llvmlite==0.43.0
MarkupSafe==3.0.2
